@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,300&family=Playball&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,200;1,600&family=Raleway:wght@100&family=Roboto:ital,wght@0,100;1,100&family=Style+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
::-webkit-scrollbar {
  /* to hide the scroll bar */
  display: none;
}
img.dot {
  width: 15px !important;
}

@media (max-width: 900px) {
  .hidden {
    display: none;
  }
}
